.solitaire {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 30px;

}

.solitaire__button img{
  width: 120px;
  height: 145px;

  border-radius: 15px;
}
.solitaire__deck-pile {
  display: flex;
}

.solitaire__tableau-pile {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  position: relative;
  right: 339px;


}

.solitaire__tableau-pile-cards {
  margin-right: 2rem;
  margin-top: 2rem;

}
.solitaire__card-tableau {
  border-radius: 15px;
  height: 140px;
  width: 120px;
}

.solitaire__ace-pile-piles {
  display: flex;
  
}
.solitaire__ace-pile-cards {
  border: 1px black solid;
  border-radius: 15px;
  height: 140px;
  width: 120px;
  margin-right: 3rem;

}  

.solitaire__empty-card{
  border: 1px black solid;
  border-radius: 15px;
  height: 140px;
  width: 120px;
  

}