* {
  margin: 0;
}

.solitaire {
  display: flex;
}

.solitaire__deck {
  display: flex;
  flex-direction: row;
}
 .solitaire__button {
  width: 120px;
  height: 140px;
 }

.solitaire__button img{
  width: 120px;
  height: 140px;
  margin: 20px;

  border-radius: 15px;
}

.solitaire__deck-pile {
  display: flex;
  align-content: center;
  margin-top: 130px;
  margin-left: 50px;
}



.solitaire__tableau-pile {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-top: 270px;
  margin-left: -289px;
}

.solitaire__tableau-pile-cards {
  width: 14%;
  margin: 1rem;

}

.solitaire__card {
  margin-top: -110px;
}